<% provide :title, t("views.static_pages.about.title") %>
<h1><%= t "views.static_pages.about.title" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t "views.static_pages.about.dec"%></em></a><%= t".ia" %>
  <a href="http://www.railstutorial.org/book"><%= t "views.static_pages.about.book"%></a> <%= t".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".series"%></a><%= t "views.static_pages.about.dec1"%>
  <a href="http://rubyonrails.org/"><%= t "views.static_pages.about.rubyonrails"%></a><%= t "views.static_pages.about.tutorial"%>
</p>
