<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t ".dec"%></em></a><%= t".ia" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book"%></a> <%= t".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".series"%></a><%= t ".dec1"%>
  <a href="http://rubyonrails.org/"><%= t ".rubyonrails"%></a><%= t ".tutorial"%>
</p>
