<% provide:title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".dec" %>
  <a href=<%= t ".helpurl" %>><%= t ".section" %></a><%= t ".dec1" %>
  <a href=<%= t ".railstusurl" %>><em><%= t ".tutorial" %></em></a>.
</p>
