<% provide:title, t("views.static_pages.help.title") %>
<h1><%= t "views.static_pages.help..title" %></h1>
<p>
  <%= t "views.static_pages.help..dec" %>
  <a href="http://www.railstutorial.org/help"><%= t "views.static_pages.help.section" %></a><%= t "views.static_pages.help.dec1" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "views.static_pages.help.tutorial" %></em></a>
</p>
