<footer class="footer">
  <small>
    <%= t ".the" %> <a href=<%= t ".railstus" %>><%= t ".tutorial" %></a>
    <%= t ".by" %>  <a href=<%= t ".nameurl" %>><%= t ".name" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href=<%= t ".newurl" %>><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
